header.main-header{
  display: flex;
    width: 100%;
    padding: 10px 25px;
    box-shadow: 1px 5px 15px #00000029;
    justify-content: space-between;
    align-items: center;
}
ul.navbar{
  list-style: none;
  display: flex;
}
ul.navbar li{
  margin-right: 15px;
}
.container-logo{
  width: 80px;
}
.container-logo svg{
  width: 100%;
}
.card-item{
  float: left;
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 1px 1px 5px #0000;
  border-radius: 5px;
  max-width: 350px;
  padding: 25px;
}

.stock{
  display: flex;
  align-items: center;
}
.stock .contador{
  margin-left: 10px;
  margin-right: 10px;

}
.stock-container{
    display: flex;
}
.detalle-producto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contenedor-detalle-producto{
  padding-left: 0;
}
.container-cards-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-cards-data p{
  padding: 10px;
}
.container-cards-data button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-logo img {
  width: 100px;
}
.carrito{
  display: flex;
  align-items: center;
}
.carrito img{
  margin-right: 10px;
}
ul.navbar a{
  color: white;
  text-decoration: none;
}
ul.navbar button{
  background: black;
}
ul.navbar button:hover{
  background: black;
}

.card{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-item img{
  margin: auto;
  display: flex;
}
.seguirCompra{
  display: flex;
  justify-content: space-evenly;
}
.seguirCompra a button{
  padding: 10px 30px;
  background: black;
  color: white;
  border-radius: 5px;
  border: none;
}
.seguirCompra a button:hover{
  background: #000000cf;
}