header.main-header{
  display: flex;
    width: 100%;
    padding: 10px 25px;
    box-shadow: 1px 5px 15px #00000029;
    justify-content: space-between;
    align-items: center;
}
ul.navbar{
  list-style: none;
  display: flex;
}
ul.navbar li{
  margin-right: 15px;
}
.container-logo{
  width: 80px;
}
.container-logo svg{
  width: 100%;
}
.card-item{
  float: left;
  border: 1px solid gray;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 1px 1px 5px #0000;
  border-radius: 5px;
}
.container-cards-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stock{
  display: flex;
  align-items: center;
}
.stock div{
  margin-left: 10px;
  margin-right: 10px;
}
.container-cards-data p{
  padding: 10px;
}
.container-cards-data button{
  margin-top: 20px;
  margin-bottom: 20px;
}